ul{
	list-style-type: none;
}

body {
	overflow-x: hidden;
	background-color: #AABAFF;
}

h3 {
	font-family: 'Ubuntu Condensed', sans-serif;
}

#esponja {
	width: 120px;
}

blockquote {
	border-left:0px;
}